/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-black-alpha-66: rgba($color-black, 0.66);
$color-black-alpha-55: rgba($color-black, 0.55);
$color-black-alpha-35: rgba($color-black, 0.35);
$color-black-alpha-25: rgba($color-black, 0.25);
$color-black-alpha-10: rgba($color-black, 0.1);
$color-black-alpha-05: rgba($color-black, 0.05);

$color-primary: #167767;
$color-primary-dark: #115A4E;
$color-primary-darker: #0C4037;
$color-primary-faded: rgba($color-primary,0.12);

$color-accent: #637EB6;
$color-accent-dark: darken($color-accent, 5%);
$color-accent-darker: darken($color-accent, 8%);
$color-accent-faded: rgba($color-accent,0.16);

$color-sand: rgba(150,99,99,0.05);
$color-sand-dark: rgba(134,114,109,0.15);
$color-sand-darker: rgba(126,115,112,0.22);
$color-sand-alt: rgba(82,61,61,0.04);
$color-sand-alt-2: rgba(150,99,88,0.08);

$color-alert: #E2705F;
$color-alert-dark: darken($color-alert, 10%);
$color-alert-darker: darken($color-alert, 20%);
$color-alert-faded: rgba($color-alert,0.17);

$color-success: $color-primary;
$color-success-dark: $color-primary-dark;
$color-success-darker: $color-primary-darker;
$color-success-faded: $color-primary-faded;

$color-warning: #E3C97F;
$color-warning-dark: darken($color-warning, 10%);
$color-warning-darker: darken($color-warning, 20%);
$color-warning-faded: rgba($color-warning, 0.25);

/* UI Colors */
$color-ui-background: $color-white;
$color-ui-base: rgba($color-black, 0.96);
$color-ui-border: $color-black-alpha-10;
$color-ui-focus: #86726d;

/* Font */
$font-family-base: "Inter", sans-serif;
$font-family-title: p22-mackinac-pro, serif;

/* Font Size */
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;

$font-size-paragraph-xs: 12px;
$font-size-paragraph-sm: 13px;
$font-size-paragraph-md: 15px;
$font-size-paragraph-lg: 18px;

$font-size-ui-input-md: 14px;
$font-size-ui-input-lg: 15px;
$font-size-ui-label-md: $font-size-paragraph-xs;
$font-size-ui-label-lg: $font-size-paragraph-sm;
$font-size-ui-badge: 12px;
$font-size-ui-badge-lg: 14px;

$font-size-base: $font-size-paragraph-md;

/* Line height */
$line-height-heading-large: 1.15;
$line-height-heading-small: 1.25;
$line-height-paragraph: 24px;
$line-height-paragraph-sm: 20px;
$line-height-paragraph-lg: 32px;
$line-height-ui-button: 24px;
$line-height-ui-input: 24px;

/* Font weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/* Letter spacing */
$letter-spacing-base: -0.01em;
$letter-spacing-heading: -0.035em;

/* Box shadow */
$box-shadow-elevation-1: 0 3px 5px -1px rgba($color-black,0.04);;
$box-shadow-focus-width: 2px;
$box-shadow-focus-opacity: 0.25;

/* Border radius */
$border-radius-ui-sm: 3px;
$border-radius-ui-lg: 8px;

/* Component Sizing */
$navbar-height: 56px;

/* Icons */
$icon-size-xs: 12px;
$icon-size-sm: 16px;
$icon-size-md: 20px;
$icon-size-lg: 24px;
$icon-size-xl: 28px;
$icon-size-xxl: 32px;

/* Grid */
$grid-gutter-md: 30px;
$grid-gutter-sm: 10px;
$grid-container-width: 1130px;
$grid-container-width-sm: 800px;

/* z-indices */
$zindex-navbar: 100;


///////////////////////
// Mobile Styles
//////////////////////

$font-size-h1--mobile: 40px;
$font-size-h2--mobile: 32px;
$font-size-h3--mobile: 28px;
$font-size-h4--mobile: 18px;
$font-size-h5--mobile: 16px;

$font-size-paragraph-xs--mobile: 12px;
$font-size-paragraph-sm--mobile: 12px;
$font-size-paragraph-md--mobile: 14px;
$font-size-paragraph-lg--mobile: 16px;

$font-size-ui-input-md--mobile: 14px;
$font-size-ui-input-lg--mobile: 14px;
$font-size-ui-label-md--mobile: $font-size-paragraph-xs;
$font-size-ui-label-lg--mobile: $font-size-paragraph-sm;
$font-size-ui-badge--mobile: 12px;
$font-size-ui-badge-lg--mobile: 14px;

$line-height-heading-large--mobile: 1.15;
$line-height-heading-small--mobile: 1.25;
$line-height-paragraph--mobile: 22px;
$line-height-paragraph-sm--mobile: 18px;
$line-height-paragraph-lg--mobile: 26px;
$line-height-ui-button--mobile: 24px;
$line-height-ui-input--mobile: 24px;

$border-radius-ui-sm--mobile: 3px;
$border-radius-ui-xl--mobile: 25%;

$floating-buttons-clearspace: 100px;

$brief-header-height: 80px;
$brief-content-bottom-offset: 160px;
$grid-outer-padding--mobile: 20px;
