.footer {
    color: $white;
    margin-top: 7rem;
    background-color: $color-slate;
}

.footer__help {
    padding: 6rem 0;
}

.footer__help__paragraph {
    max-width: 50rem;
}

.footer__legal {
    border-top: 1px solid rgba($white, 0.15);
}

.footer__legal__inner {
    display: flex;
    height: 7rem;
    align-items: center;
}

.footer__legal__left,
.footer__legal__right {
    flex: 1;
}

.footer__legal__left {
    opacity: 0.5;
}

.footer__legal__center {
    flex: 0;
}

.footer__legal__right {
    text-align: right;

    a {
        opacity: 0.5;
        color: inherit;
        margin-left: 4rem;

        &:hover,
        &:focus {
            outline: none;
            text-decoration: underline;
            opacity: 1;
        }

        &:active {
            opacity: 0.75;
        }
    }
}

.footer__logo {
    svg {
        width: 3rem;
        height: 3rem;
        stroke: $color-primary;
    }

    &:hover,
    &:focus {
        outline: none;

        svg {
            stroke: $color-primary-dark;
            stroke-dasharray: $logo-path-length;
            animation-name: logo-path-fill;
            animation-duration: 2.5s;
            animation-timing-function: $ease-in-out-quad;
        }
    }

    &:active {
        opacity: 0.75;
    }
}
