.grid-container--sm {
  padding-right: 20px;
  padding-left: 20px;
/*
  .grid-margin-x {
    margin-left: -$grid-gutter-sm * 0.5;
    margin-right: -$grid-gutter-sm * 0.5 ;
  }

  .grid-margin-x>.cell {
    margin-left: $grid-gutter-sm * 0.5;
    margin-right: $grid-gutter-sm * 0.5;
  }*/
}