.grid-container--sm {
  max-width: $grid-container-width-sm;
/*
  .grid-margin-x {
    margin-left: -$grid-gutter-sm * 0.5;
    margin-right: -$grid-gutter-sm * 0.5 ;
  }

  .grid-margin-x>.cell {
    margin-left: $grid-gutter-sm * 0.5;
    margin-right: $grid-gutter-sm * 0.5;
  }*/
}