.header {
  margin-top: $navbar-height;
  background-color: $white;

  .header__inner {
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    justify-content: space-between;
  }

  .header__left {

  }

  .header__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: -15px;

    .button {
      margin-left: 10px;
    }
  }

  .header__stat {
    margin-left: 30px;
  }

  .header__stat__label {
    margin-top: 5px;
    color: $color-black-alpha-35
  }
}
