$onboarding-graphic-offset: 15px;

.onboarding {
  display: flex;
  min-height: 280px;
  background: $color-sand;
  border-radius: $border-radius-ui-lg;
  align-items: flex-end;
  position: relative;
  padding: 30px;
}

.onboarding__content {
  width: 50%;
  max-width: 400px;
}

.onboarding__title,
.onboarding__description {
  margin-bottom: 10px;
}

.onboarding__graphic {
  position: absolute;
  bottom: 0;
  right: -$onboarding-graphic-offset;
  height: calc(100% + #{$onboarding-graphic-offset});
}