$avatar-loader-size: 4rem;
$avatar-loader-count: 5;
$avatar-loader-animation-duration: 5s;

$avatar-1-bg: #F7E2D1;
$avatar-2-bg: #CEE2C1;
$avatar-3-bg: #AABDDD;
$avatar-4-bg: #D7C7E4;

$avatar-1-body: #305899;
$avatar-2-body: #111118;
$avatar-3-body: #F7E2D1;
$avatar-4-body: #FFD692;

$avatar-1-head: #FFFFFF;
$avatar-2-head: #FF918D;
$avatar-3-head: #FFFFFF;
$avatar-4-head: #FFFFFF;

@mixin avatar-color($color-body, $color-head) {
  @for $i from 1 to 5 {
    .body,
    .hat,
    .hair,
    .beard,
    .glasses {
      fill: $color-body;
    }
    .face,
    .body-accessory {
      fill: $color-head;
    }
    .bg {
      fill: transparent;
    }
  }
}

@mixin avatar-loader-bg ($i) {
  @if ($i == 1) {
    background-color: $avatar-1-bg;
  } @elseif ($i == 2) {
    background-color: $avatar-2-bg;
  } @elseif ($i == 3) {
    background-color: $avatar-3-bg;
  } @elseif ($i == 4) {
    background-color: $avatar-4-bg;
  } @elseif ($i == 5) {
    background-color: $avatar-1-bg;
  }
}

.avatar-loader {
  overflow: hidden;
  width: $avatar-loader-size;
  height: $avatar-loader-size;
  background-color: $avatar-1-bg;
  animation: avatar-loader-background $avatar-loader-animation-duration linear infinite;

  .avatar-loader__inner {
    display: flex;
    animation: avatar-loader-offset $avatar-loader-animation-duration linear infinite;
  }
  .avatar-loader__item {
    height: 100%;
    flex: 0 0 $avatar-loader-size;
  }
  .avatar-loader__item-1 {
    @include avatar-color($avatar-1-body, $avatar-1-head);
  }
  .avatar-loader__item-2 {
    @include avatar-color($avatar-2-body, $avatar-2-head);
  }
  .avatar-loader__item-3 {
    @include avatar-color($avatar-3-body, $avatar-3-head);
  }
  .avatar-loader__item-4 {
    @include avatar-color($avatar-4-body, $avatar-4-head);
  }
  .avatar-loader__item-5 {
    @include avatar-color($avatar-1-body, $avatar-1-head);
  }

  .head {
    transform-origin: bottom center;
    animation: avatar-head $avatar-loader-animation-duration linear infinite;
  }
  .hair,
  .glasses,
  .beard,
  .hat {
    animation: avatar-accessory $avatar-loader-animation-duration linear infinite;
  }
}


@keyframes avatar-loader-offset {
  @for $i from 1 to 5 {
    #{$i * 25 - 10}% {
      transform: translateX($avatar-loader-size * (-$i + 1));
      animation-timing-function: $ease-in-out-back;
    }
    #{$i * 25}% {
      transform: translateX($avatar-loader-size * -$i);
    }
  }
}

@keyframes avatar-loader-background {
  @for $i from 1 to 5 {
    #{$i * 25 - 10}% {
      @include avatar-loader-bg($i);
      animation-timing-function: $ease-in-out-cubic;
    }
    #{$i * 25}% {
      @include avatar-loader-bg($i + 1);
    }
  }
}

@keyframes avatar-head {
  @for $i from 1 to 5 {
    #{$i * 25 - 10}% {
      transform: rotate(0);
      animation-timing-function: $ease-in-cubic;
    }
    #{$i * 25 - 7}% {
      transform: rotate(20deg);
      animation-timing-function: $ease-in-out-cubic;
    }
    #{$i * 25 - 2}% {
      transform: rotate(-10deg);;
      animation-timing-function: $ease-out-quad;
    }
    #{$i * 25}% {
      transform: rotate(0);
    }
  }
}

@keyframes avatar-accessory {
  @for $i from 1 to 5 {
    #{$i * 25 - 10}% {
      transform: translateX(0);
      animation-timing-function: $ease-in-cubic;
    }
    #{$i * 25 - 7}% {
      transform: translateX(0.3rem);
      animation-timing-function: $ease-in-out-cubic;
    }
    #{$i * 25}% {
      transform: translateX(0);
    }
  }
}

