.breadcrumbs {
  margin: 0 0 10px;

  li {
    font-size: inherit;
    text-transform: none;
    color: $color-black-alpha-35;

    &:not(:last-child)::after {
      opacity: 1;
      width: 1em;
      speak: none;
      content: '\e830';
      margin: 0 0.2em;
      line-height: 1em;
      position: relative;
      font-style: normal;
      text-align: center;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-family: "unicons";
      display: inline-block;
      color: $color-black-alpha-35;
    }
  }

  a {
    @include link-base();
  }

  .disabled {
    color: $color-black-alpha-35;
  }
}
