$button-height-lg: 48px;
$button-height-md: 40px;
$button-height-sm: 32px;

@mixin button-base() {
  @include disabled();
  @include appearance-reset();
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-weight: $font-weight-medium;
  font-size: $font-size-ui-input-md;
  line-height: $line-height-ui-input;
  letter-spacing: $letter-spacing-base;

  padding: 5px 11px;
  height: $button-height-md;
  min-width: $button-height-md;
  background-color: transparent;
  border-radius: $border-radius-ui-sm;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@mixin button--sm() {
  padding: 0 9px;
  height: $button-height-sm;
  min-width: $button-height-sm;

  &.button--square,
  &.button--round {
    padding: 0;
    width: $button-height-sm;

    .uil {
      @include icon-size($icon-size-md)
    }
  }
}

@mixin button--lg() {
  padding: 5px 14px;
  height: $button-height-lg;
  min-width: $button-height-lg;
  font-size: $font-size-ui-input-lg;

  &.button--square,
  &.button--round {
    padding: 0;
    width: $button-height-lg;

    .uil {
      @include icon-size($icon-size-xl)
    }
  }
}

@mixin button--fill(
  $color,
  $background-color,
  $background-color-hover,
  $background-color-active,
  $border-color: $color-black-alpha-10,
  $focus-color: $background-color
) {
  color: $color;
  border: 1px solid $border-color;
  background-color: $background-color;

  &:hover {
    color: $color;
    background-color: $background-color-hover;
  }
  &:focus {
    @include focus-shadow(rgba($focus-color, 0.2));
    outline: none;
  }
  &:active {
    color: $color;
    background-color: $background-color-active;
  }
}

@mixin button--transparent(
  $color,
  $background-color-hover,
  $background-color-active,
  $focus-color: $background-color-active,
  $border-color: transparent
) {
  color: $color;
  border: 1px solid $border-color;
  background-color: transparent;

  &:hover {
    color: $color;
    box-shadow: none;
    background-color: $background-color-hover;
  }
  &:focus {
    @include focus-shadow($focus-color);
    outline: none;
  }
  &:active {
    color: $color;
    background-color: $background-color-active;
  }
}


.button {
  @include button-base();
  @include button--fill($color-ui-base, $color-sand, $color-sand-dark, $color-sand-darker, transparent, $color-ui-focus);

  &.button--primary {
    @include button--fill($color-white, $color-primary, $color-primary-dark, $color-primary-darker);
  }
  &.button--alert {
    @include button--fill($color-white, $color-alert, $color-alert-dark, $color-alert-darker);
  }

  &.button--transparent {
    text-align: left;
    justify-content: flex-start;
    @include button--transparent($color-ui-base, $color-sand, $color-sand-dark, $color-ui-focus);

    &.button--primary {
      @include button--transparent($color-primary, rgba($color-primary, 0.1), rgba($color-primary, 0.2));
    }
    &.button--alert {
      @include button--transparent($color-alert, rgba($color-alert, 0.1), rgba($color-alert, 0.2));
    }
  }

  &.button--outline {
    @include button--transparent($color-ui-base, $color-sand, $color-sand-dark, $color-ui-focus, $color-black-alpha-10);

    &.button--primary {
      @include button--transparent($color-primary, rgba($color-primary, 0.1), rgba($color-primary, 0.2), $color-primary, $color-primary-faded);
    }
    &.button--alert {
      @include button--transparent($color-alert, rgba($color-alert, 0.1), rgba($color-alert, 0.2), $color-alert, $color-accent-faded);
    }
  }

  &.button--sm {
    @include button--sm();
  }

  &.button--lg {
    @include button--lg();
  }


  &.button--square,
  &.button--round {
    padding: 0;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: $button-height-md;

    .uil {
      @include icon-size($icon-size-lg);
      margin: 0;
      color: $color-black-alpha-35;
    }
  }

  &.button--round {
    border-radius: 50%;
  }

  &.button--full {
    width: 100%;
  }

  .uil {
    @include icon-size($icon-size-sm);
    vertical-align: initial;
    margin-right: 5px;
  }

  .button__loader {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.25s ease;
  }

  .button__label {
    transition: opacity 0.15s 0.15s ease;
  }

  &.button--loading {
    .button__label {
      opacity: 0;
      transition: opacity 0.15s ease;
    }
    .button__loader {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.25s 0.15s ease;
    }
  }
}
