@mixin icon-size($size) {
  height: $size;
  font-size: $size;

  &::before {
    font-size: $size;
  }
}

@mixin icon-pseudo($icon-code) {
  opacity: 1;
  width: 1em;
  speak: none;
  content: $icon-code;
  line-height: 1em;
  position: relative;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-family: "unicons";
  display: inline-block;
}

.uil {
  margin: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

  &::before {
    margin: 0;
    font-size: $icon-size-md;
  }

  &.uil--xs {
    @include icon-size($icon-size-xs)
  }

  &.uil--sm {
    @include icon-size($icon-size-sm)
  }

  &.uil--md {
    @include icon-size($icon-size-md)
  }

  &.uil--lg {
    @include icon-size($icon-size-lg)
  }

  &.uil--xl {
    @include icon-size($icon-size-xl)
  }

  &.uil--xxl {
    @include icon-size($icon-size-xxl)
  }
}
