$input-height-lg: 48px;
$input-height-md: 40px;
$input-height-sm: 32px;

.input {
  @include disabled();
  width: 100%;
  display: flex;
  align-items: center;
  height: $input-height-md;
  font-size: $font-size-ui-input-md;
  line-height: $line-height-ui-input;
  letter-spacing: $letter-spacing-base;

  background-color: $white;
  -webkit-appearance: none;
  padding: 6px 11px 8px;
  border: 1px solid $color-black-alpha-10;
  border-radius: $border-radius-ui-sm;

  &:hover {
    border-color: $color-black-alpha-25;
  }

  &:focus {
    @include focus-shadow($color-primary);
    outline: none;
    border-color: $color-primary;
  }

  &.input--sm {
    padding: 3px 9px 5px;
    height: $input-height-sm;
  }

  &.input--lg {
    padding: 11px 14px 13px;
    height: $input-height-lg;
    font-size: $font-size-ui-input-lg;
  }

  &:invalid,
  &[invalid],
  &[aria-invalid="true"] {
    border-color: $color-alert;
    box-shadow: inset 0 0 0 1px $color-alert;

    &:hover,
    &:focus {
      border-color: $color-alert-darker;
      box-shadow: inset 0 0 0 1px $color-alert-darker;
    }

    &:focus {
      @include focus-shadow($color-alert-darker, inset 0 0 0 1px $color-alert-darker);
    }
  }

  &.input--fill,
  &input:read-only {
    border-color: transparent;
    background-color: $color-sand;

    &:hover {
      border-color: transparent;
      background-color: $color-sand-dark;
    }

    &:focus {
      border-color: $color-primary;
      background-color: $white;
    }
  }

  &.input--fill:not(.input--select) {
    &:not(:placeholder-shown) {
      background-color: $white;
      border: 1px solid $color-black-alpha-10;

      &:focus {
        border-color: $color-primary;
      }
    }
  }

  &.input--select {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-image: url("/img/icons/ic-dropdown-caret.svg");

    &::-ms-expand {
      display: none;
    }
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-black-alpha-35;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color-black-alpha-35;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color-black-alpha-35;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color-black-alpha-35;
  }
}

textarea.input {
  height: auto;
}