$input-wrapper-icon-offset: 10px;
$input-wrapper-button-offset: 4px;
$input-wrapper-placeholder-offset: 40px;

@mixin input-wrapper--icon($side) {
  .input-wrapper {
    &.input-wrapper--icon-#{$side} {
      > .uil {
        #{$side}: $input-wrapper-icon-offset;
      }
      .input {
        padding-#{$side}: $input-wrapper-placeholder-offset;
      }
    }
  }

  .form-group--floating .input-wrapper--icon-#{$side} .label {
    margin-#{$side}: $input-wrapper-placeholder-offset - 8px;
  }
}

@mixin input-wrapper--button($side) {
  .input-wrapper {
    &.input-wrapper--button-#{$side} {
      > .button {
        #{$side}: $input-wrapper-button-offset;
      }
      .input {
        padding-#{$side}: $input-wrapper-placeholder-offset;
      }
    }
  }

  .form-group--floating .input-wrapper--icon-#{$side} .label {
    margin-#{$side}: $input-wrapper-placeholder-offset - 8px;
  }
}

.input-wrapper {
  position: relative;

  > .uil,
  > .button {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }

  > .uil {
    color: $color-black-alpha-35;
  }

  > .button {
    @include button--sm();
  }
}

@include input-wrapper--icon(left);
@include input-wrapper--icon(right);
@include input-wrapper--button(left);
@include input-wrapper--button(right);
