$input-wrapper-icon-offset: 1.6rem;
$input-wrapper-button-offset: 0.4rem;
$input-wrapper-placeholder-offset: 5rem;

@mixin input-wrapper--icon($side) {
    &.input-wrapper--icon-#{$side} {
        > .icon {
            #{$side}: $input-wrapper-icon-offset;
        }
        .input {
            padding-#{$side}: $input-wrapper-placeholder-offset;
        }
    }
}

@mixin input-wrapper--button($side) {
    &.input-wrapper--button-#{$side} {
        > .button {
            #{$side}: $input-wrapper-button-offset;
        }
        .input {
            padding-#{$side}: $input-wrapper-placeholder-offset;
        }
    }
}

.input-wrapper {
    position: relative;

    > .icon,
    > .button {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }

    > .button {
        @include button--small();
    }

    @include input-wrapper--icon(left);
    @include input-wrapper--icon(right);
    @include input-wrapper--button(left);
    @include input-wrapper--button(right);
}
