/**
 * Basic styles for links
 */

@mixin link-base() {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $color-primary-darker;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.75;
  }
}

a {
  @include link-base();

  &[disabled] {
    cursor: pointer;
    pointer-events: none;
  }
}

.link-arrow {
  font-weight: $font-weight-medium;

  &::before {
    @include icon-pseudo('\e831');
    font-size: 1.33em;
    line-height: 0.75em;
    margin-left: -0.3em;
    vertical-align: middle;
    transition: transform 0.1s ease;
  }

  &:hover, &:focus {
    &::before {
      transform: translateX(10%);
    }
  }
}