.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;

  .menu-item {
    display: block;
    text-decoration: none;
    color: $color-ui-base;
    font-size: $font-size-paragraph-sm;
    line-height: $line-height-paragraph-sm;
    padding: 6px 15px;

    &:hover {
      background-color: $color-sand;
    }
    &:focus {
      @include focus-shadow();
      outline: none;
    }
    &:active {
      background-color: $color-sand-dark;
    }

    .uil {
      @include icon-size($icon-size-md);
      margin-right: 10px;
      color: $color-black-alpha-35;
    }
  }

  .menu-item--alert {
    color: $color-alert;

    &:hover {
      background-color: rgba($color-alert, 0.08);
    }
    &:focus {
      @include focus-shadow($color-alert);
    }
    &:active {
      background-color: rgba($color-alert, 0.15);
    }
    .uil {
      color: $color-alert;
    }
  }

  .menu-item--divider {
    height: 1px;
    margin: 5px 0;
    background-color: $color-black-alpha-05;
  }

  &.menu--vertical {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  /*
    &.menu--sidenav {
        position: sticky;
        top: 13rem;

        li a {
            position: relative;

            &::before {
                top: 0;
                left: 0;
                z-index: -1;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transform: scaleX(0);
                background-color: $color-slate;
                transform-origin: left center;
            }

            &.active {
                color: $white;

                &::before {
                    transform: scaleX(1);
                }

                &:hover,
                &:focus {
                    background-color: transparent;

                    &::before {
                        background-color: $color-slate-lighter;
                    }
                }
            }
        }
    }*/
}
