@mixin panel-base() {
    width: 100%;
    background-color: $white;
    border: 1px solid $color-slate-alpha-15;
}

.panel {
    @include panel-base();

    .panel__body {
        display: block;
        padding: 2rem;
    }

    &.panel-interactive {
        cursor: pointer;

        &:hover,
        &:focus {
            border-color: $color-slate;
            box-shadow: $box-shadow-elevation-1;
        }

        &:focus {
            outline: none;
            @include focus-shadow($color-slate, $box-shadow-elevation-1);
        }

        &:active {
            transform: scale(0.97) translate3d(0, 0, 0);
        }
    }
}
