$slider-handle-size: 1.8rem;
$slider-track-height: 0.2rem;
$slider-border-shadow-default: inset 0 0 0 0.2rem $color-slate;

.slider {
    cursor: pointer;
    padding: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 7rem;
    height: $slider-track-height;

    background-repeat: repeat-x;
    background-position: center;
    background-color: transparent;
    background-size: $slider-track-height * 3 $slider-track-height;
    background-image: linear-gradient(
        to right,
        $color-slate-alpha-50 33%,
        rgba($color-white, 0) 0%
    );

    .slider-handle {
        border-radius: 50%;
        background-color: $white;
        width: $slider-handle-size;
        height: $slider-handle-size;
        transform: translateY(-50%);
        box-shadow: inset 0 0 0 $slider-handle-size * 0.5 $color-slate;

        &:hover,
        &:focus {
            outline: none;
            box-shadow: $slider-border-shadow-default;

            .slider-handle-value input {
                background-color: $color-white;
                color: $color-slate;
            }
        }

        &:focus {
            @include focus-shadow($color-slate, $slider-border-shadow-default);
        }

        &:focus-within {
            @include focus-shadow($color-slate, $slider-border-shadow-default);
        }
    }

    .slider-fill {
        top: 50%;
        transform: translateY(-50%);
        height: $slider-track-height;
        background-color: $color-slate;
    }

    .slider-handle-value {
        left: 50%;
        position: absolute;
        margin-top: 0.6rem;
        top: $slider-handle-size;
        transform: translateX(-50%);

        span {
            top: 0;
            left: 0;
            height: 0;
            opacity: 0;
            position: absolute;
        }

        input {
            width: 0;
            min-width: 6rem;
            cursor: pointer;
            text-align: center;
            color: $color-white;
            font-size: $font-size-base;
            padding: 0.6rem 0.8rem 0.4rem;
            line-height: $line-height-base;
            background-color: $color-slate;
            border: 0.2rem solid $color-slate;
            box-shadow: $box-shadow-elevation-1;

            &:focus {
                outline: none;
            }
        }
    }
}
