.shipment-route {
    display: flex;
    flex-wrap: wrap;

    .shipment-route__origin,
    .shipment-route__destination {
        flex: 0 0 50%;

        @include breakpoint(medium down) {
            flex: 0 0 100%;
        }
    }

    .shipment-route__origin {
        @include breakpoint(medium down) {
            border-bottom: 1px solid $color-slate-alpha-15;
        }
    }

    .shipment-route__top {
        padding: 3rem $shipment-panel-padding-h 2.5rem;
    }

    .shipment-route__detail {
        display: flex;
        margin-top: 3rem;
        align-items: center;
    }

    .shipment-route__detail__icon {
        flex: none;
        width: 4rem;
        height: 4rem;
        display: flex;
        border-radius: 50%;
        align-items: center;
        margin-right: 1.5rem;
        justify-content: center;
    }

    .shipment-route__detail__content {
        .paragraph:first-child {
            margin-bottom: 0.5rem;
        }
    }

    .shipment-route__bottom {
        padding: 2.2rem 3rem 1.8rem;
        background-color: rgba($color-sand, 0.75);
    }
}
