$shipment-panel-padding-h: 3rem;
$shipment-body-offset: 20rem;

.shipment__body {
    margin-top: -$shipment-body-offset;
}

.shipment-panel {
    @include panel-base();
    margin-bottom: 3rem;

    @include breakpoint(large up) {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.shipment__icon {
    flex: none;
    height: 4rem;
    display: flex;
    min-width: 4rem;
    padding: 0 0.8rem;
    border-radius: 2rem;
    align-items: center;
    margin-right: 1.5rem;
    justify-content: center;

    &.shipment__icon--default {
        color: $color-slate;
        background-color: $color-slate-alpha-05;
    }

    &.shipment__icon--small {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        min-width: 0;
        display: inline-block;
        border-radius: 50%;
    }
}
