.shipment-cargo {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;

    .shipment-cargo__field {
        flex: 0 0 50%;
        padding: 2rem $shipment-panel-padding-h;

        @include breakpoint(small down) {
            flex: 0 0 100%;
        }
    }

    .shipment-cargo__detail {
        display: flex;
        margin-top: 2rem;
        align-items: center;

        .shipment__icon {
            margin-right: 1.5rem;
        }
    }
}
