.shipment__map {
    height: 70rem;
    background: linear-gradient(
        180deg,
        rgba(202, 212, 233, 1) 60%,
        rgba(252, 250, 250, 1) 100%
    );

    .grid-container {
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding-top: $navbar-height;
    }

    .breadcrumbs {
        position: sticky;
        border-radius: 2rem;
        top: $navbar-height + 3rem;
        padding: 1.2rem 2rem 0.8rem;
        background-color: $color-white;
        box-shadow: $box-shadow-elevation-1;
        margin-bottom: $shipment-body-offset + 3rem;
    }
}
