// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Text Color
.text--primary {
  color: $color-primary !important;
}

.text--accent {
  color: $color-accent !important;
}

.text--alert {
  color: $color-alert-dark !important;
}

.text-alpha--35 {
  color: $color-black-alpha-35 !important;
}

.text-alpha--66 {
  color: $color-black-alpha-66 !important;
}

// Text weight
.text-weight--medium {
  font-weight: $font-weight-medium;
}

@mixin spacing-generator($side, $count: 30) {
  @for $i from 1 to $count {
    .margin-#{$side}--#{$i * 5} {
      margin-#{$side}: $i * 5px !important;
    }
    .padding-#{$side}--#{$i * 5} {
      padding-#{$side}: $i * 5px !important;
    }
  }
}

@include spacing-generator(top);
@include spacing-generator(bottom);
@include spacing-generator(left);
@include spacing-generator(right);
