.reveal-slide-in {
    &.mui-enter {
        opacity: 0;
        transform: translate3d(0, 40rem, 0) scale(0.8);
        transition: all 0.5s $ease-out-quart;
        overflow: hidden;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            transform: translate3d(0, 20rem, 0);
            opacity: 0;
            transition: all 0.3s $ease-out-quart;
        }

        .reveal__header {
            transition-delay: 0.1s;
        }
        .reveal__body {
            transition-delay: 0.15s;
        }
        .reveal__actions {
            transition-delay: 0.2s;
        }
    }
    &.mui-enter-active {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}

.reveal-slide-out {
    &.mui-leave {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
        transition: all 0.3s $ease-in-out-quad;
        overflow: hidden;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            opacity: 1;
            transition: all 0.15s $ease-in-out-quad;
        }
    }
    &.mui-leave-active {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0.8);

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            opacity: 0;
        }
    }
}

.reveal-full-zoom-in {
    &.mui-enter {
        opacity: 0;
        transition: all 0.3s $ease-in-out-quad;
        overflow: hidden;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            transform: translate3d(0, 0, 0) scale(0.8);
            opacity: 0;
            transition: all 0.5s $ease-out-quart;
        }

        .reveal__body {
            transition-delay: 0.1s;
        }
        .reveal__actions {
            transition-delay: 0.2s;
        }
    }
    &.mui-enter-active {
        opacity: 1;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            transform: translate3d(0, 0, 0) scale(1);
            opacity: 1;
        }
    }
}

.reveal-full-zoom-out {
    &.mui-leave {
        opacity: 1;
        transition: all 0.3s $ease-in-out-quad;
        overflow: hidden;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            transform: translate3d(0, 0, 0) scale(1);
            opacity: 1;
            transition: all 0.3s $ease-in-out-quad;
        }
    }
    &.mui-leave-active {
        opacity: 0;

        .reveal__header,
        .reveal__body,
        .reveal__actions {
            opacity: 0;
            transform: translate3d(0, 0, 0) scale(0.8);
        }
    }
}
