body {
  font-family: $font-family-base;
  font-size: $font-size-paragraph-md;
  line-height: $line-height-paragraph;
  letter-spacing: $letter-spacing-base;
  color: $color-ui-base;

  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin type-heading() {
  font-family: $font-family-title;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-heading;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  @include type-heading();
}

.heading-1 {
  font-size: $font-size-h1;
  line-height: $line-height-heading-large;

  @include breakpoint(medium down) {
    font-size: $font-size-h1--mobile;
    line-height: $line-height-heading-large--mobile;
  }
}

.heading-2 {
  font-size: $font-size-h2;
  line-height: $line-height-heading-large;

  @include breakpoint(medium down) {
    font-size: $font-size-h2--mobile;
    line-height: $line-height-heading-large--mobile;
  }
}

.heading-3 {
  font-size: $font-size-h3;
  line-height: $line-height-heading-small;

  @include breakpoint(medium down) {
    font-size: $font-size-h3--mobile;
    line-height: $line-height-heading-small--mobile;
  }
}

.heading-4 {
  font-size: $font-size-h4;
  line-height: $line-height-heading-small;

  @include breakpoint(medium down) {
    font-size: $font-size-h4--mobile;
    line-height: $line-height-heading-small--mobile;
  }
}

.heading-5 {
  font-size: $font-size-h5;
  line-height: $line-height-heading-small;

  @include breakpoint(medium down) {
    font-size: $font-size-h5--mobile;
    line-height: $line-height-heading-small--mobile;
  }
}

.paragraph {
  font-size: $font-size-paragraph-md;
  line-height: $line-height-paragraph;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-md--mobile;
    line-height: $line-height-paragraph--mobile;
  }
}

.paragraph--xs {
  font-size: $font-size-paragraph-xs;
  line-height: $line-height-paragraph-sm;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-xs--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }
}

.paragraph--sm {
  font-size: $font-size-paragraph-sm;
  line-height: $line-height-paragraph-sm;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-sm--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }
}

.paragraph--lg {
  font-size: $font-size-paragraph-lg;
  line-height: $line-height-paragraph-lg;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-lg--mobile;
    line-height: $line-height-paragraph-lg--mobile;
  }
}

.label {
  font-size: $font-size-paragraph-xs;
  line-height: $line-height-paragraph-sm;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-xs--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }
}

.label--lg {
  font-size: $font-size-paragraph-sm;
  line-height: $line-height-paragraph-sm;

  @include breakpoint(medium down) {
    font-size: $font-size-paragraph-sm--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }
}
