.grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: $grid-container-width-sm;
  padding-left: $grid-outer-padding--mobile;
  padding-right: $grid-outer-padding--mobile;
/*
  .grid-margin-x {
    margin-left: -$grid-gutter-sm * 0.5;
    margin-right: -$grid-gutter-sm * 0.5 ;
  }

  .grid-margin-x>.cell {
    margin-left: $grid-gutter-sm * 0.5;
    margin-right: $grid-gutter-sm * 0.5;
  }*/
}