.staff-wrapper {
  .heading-1 {
    font-size: $font-size-h1--mobile;
    line-height: $line-height-heading-large--mobile;
  }

  .heading-2 {
    font-size: $font-size-h2--mobile;
    line-height: $line-height-heading-large--mobile;
  }

  .heading-3 {
    font-size: $font-size-h3--mobile;
    line-height: $line-height-heading-small--mobile;
  }

  .heading-4 {
    font-size: $font-size-h4--mobile;
    line-height: $line-height-heading-small--mobile;
  }

  .heading-5 {
    font-size: $font-size-h5--mobile;
    line-height: $line-height-heading-small--mobile;
  }

  .paragraph {
    font-size: $font-size-paragraph-md--mobile;
    line-height: $line-height-paragraph--mobile;
  }

  .paragraph--xs {
    font-size: $font-size-paragraph-xs--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }

  .paragraph--sm {
    font-size: $font-size-paragraph-sm--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }

  .paragraph--lg {
    font-size: $font-size-paragraph-lg--mobile;
    line-height: $line-height-paragraph-lg--mobile;
  }

  .label {
    font-size: $font-size-paragraph-xs--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }

  .label--lg {
    font-size: $font-size-paragraph-sm--mobile;
    line-height: $line-height-paragraph-sm--mobile;
  }
}
