.staff__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .nav__logo {
    padding: 0;
    height: 40px;
    margin-left: -5px;
  }

  .nav__actions {
    padding: 0;
  }

  .button.nav__back {
    margin-left: -5px;

    .uil {
      color: $color-ui-base;
    }
  }

  .grid-container--sm {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}