.staff__tabs {

  @include breakpoint(small down) {
    box-shadow: inset 0 -1px 0 $color-black-alpha-10;
  }

  .tabs-title a {
    display: block;
    padding: 15px 0;
    font-weight: $font-weight-medium;

    &::before,
    &::after {
      height: 2px;
    }
  }
}