
.staff__quiz .staff__brief__progress__head{
  background-color: $color-accent;
}

.staff__quiz__content {
  margin-top: $brief-header-height;
  padding-top: 30px;
  padding-bottom: $floating-buttons-clearspace;
}

.staff__quiz__question {
  margin-bottom: 30px;
}